<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds">

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d] [%level] [%thread] [%logger] %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/logs/squirrel/user_account_service_%d{yyyyMMdd}.log.zip</fileNamePattern>
            <maxHistory>180</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d] [%level] [%thread] [%logger] %msg %n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>
    <logger name="com.pi" level="INFO" additivity="false">
        <appender-ref ref="file"/>
    </logger>
    <logger name="com.pi.usercenter.account.dao.mapper" level="DEBUG" additivity="false">
        <appender-ref ref="file"/>
    </logger>
    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG" additivity="false">
        <appender-ref ref="file"/>
    </logger>

</configuration>
