<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pi.usercenter.account.dao.mapper.UserAccountMapper">

    <sql id="TableName">
      user_account
    </sql>

    <sql id="Columns">
        unique_id
      , username
      , nick
      , gender
      , phone
    </sql>

    <select id="findByIds" resultType="UserAccount">
        SELECT <include refid="Columns" />
          FROM <include refid="TableName" />
         WHERE unique_id IN
         <foreach item="id" collection="ids" open="(" close=")" separator=",">
             #{id}
         </foreach>
    </select>

    <insert id="saveBatch">
        INSERT INTO <include refid="TableName" />
          ( <include refid="Columns" /> )
        VALUES
        <foreach item="item" collection="list" separator=",">
          (  #{item.uniqueId}
            ,#{item.username}
            ,#{item.nick}
            ,#{item.gender}
            ,#{item.phone} )
        </foreach>
    </insert>

</mapper>
